<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Serial_Number_Generator.Properties.Settings.zeronextConnectionString"
            connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=zeronext"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>